@model BirdCounter.Models.DetailObject

<h1>
    Session no. @Model.session.Id
</h1>
<div class="times__wrapper">
    <p>Start time: @Model.session.StartTime</p>
    <p>End time: @Model.session.EndTime</p>
</div>
<h2>Birds counted: </h2>
<table class="table table-striped">
    <thead>
    <td>
        vogelsoort
    </td>
    <td>
        aantal keer gespot
    </td>
    </thead>
    <tbody>
    @foreach (BirdSession c in Model.birds)
    {
        <partial name="DetailPartial" model="c"/>
    }
    </tbody>
</table>