@{
    ViewData["Title"] = "Add";
}

<h1>Add new bird</h1>
<form method="post">
    <partial name="CreateEditPartial" model="Model"/>
    <input type="submit" class="btn btn-primary" value="Create">
</form>