@model Bird

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name"></span>
</div>
<div class="form-group">
    <label asp-for="Description"></label>
    <input asp-for="Description" class="form-control"/>
    <span asp-validation-for="Description"></span>
</div>
<div class="form-group">
    <label asp-for="Image"></label>
    <input asp-for="Image" class="form-control" />
    <span asp-validation-for="Image"></span>
</div>
<input type="hidden" asp-for="Id" value="@Model.Id"/>